<!DOCTYPE html>
<html>
<head lang="en">
    {# Load the tag library #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>welcome to open ss.</title>

</head>
<body>
<div>Index:<a href="index">Home</a></div>
<hr>

{% block contend %}

{% endblock %}

<div id="footer">
    {% block footer %}
    &copy; Copyright 2014-2015 by <a href="http://dmimo.com/">cdlxkill</a>.
    {% endblock %}
</div>

</body>
</html>