
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>welcome to open ss.</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.1.0/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="http://amazeui.org/css/admin.css">
    <script src="http://cdn.amazeui.org/amazeui/2.1.0/js/amazeui.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.1.0/js/amazeui.legacy.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.1.0/js/amazeui.widgets.helper.min.js"></script>
    <style>
        .header {
          text-align: center;
        }
        .header h1 {
          font-size: 200%;
          color: #333;
          margin-top: 30px;
        }
        .header p {
          font-size: 14px;
        }
    </style>
</head>
<body>
<div class="am-g">
<div class="am-cf admin-main">
  <!-- sidebar start -->
    <div class="admin-sidebar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="../user_index"><span class="am-icon-home"></span> 首页</a></li>
            <li><a href="../logout"><span class="am-icon-sign-out"></span> 注销</a></li>
        </ul>
        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>时光静好，与君语；细水流年，与君同。—— OPEN SS</p>
            </div>
        </div>

        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-tag"></span> wiki</p>
                <p>Welcome to the OPEN SS!</p>
            </div>
        </div>
    </div>
  <!-- sidebar end -->

  <!-- content start -->
    <div class="admin-content">
        <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong></div>
    </div>

    <div class="am-g">
        <div class="am-u-md-4">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">连接信息<span class="am-icon-chevron-down am-fr" ></span></div>
                <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
                    <ul class="am-list admin-content-file">
                        <li>
                            <h1 class="am-text-primary"><span class="am-icon-upload "></span> 服务器地址:{{ localIP }}</h1>
                        </li>
                        <li>
                            <h1 class="am-text-primary"><span class="am-icon-upload "></span> 端口:{{ current_user.ss_port }}</h1>
                        </li>
                        <li>
                            <h1 class="am-text-primary"><span class="am-icon-compass "></span> 密码:{{ current_user.ss_password }}</h1>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="am-u-md-8">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">流量<span class="am-icon-chevron-down am-fr" ></span></div>
                <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
                    <ul class="am-list admin-content-file">
                        <li>
                            <strong><span class="am-icon-upload"></span> 免费流量</strong>
                            <p>{{ total_load }} of {{ current_user.ss_max_throught }}</p>
                            <div class="am-progress am-progress-striped am-progress-sm am-active">
                                <div class="am-progress-bar am-progress-bar-success" style="width: {{ percent }}%">{{ percent }}%</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- content end -->

</div>

</body>
<div id="footer" class="am-footer">
    {% block footer %}
    &copy; Copyright 2014-2015 by <a href="/">cdlxkill</a>.
    {% endblock %}
</div>
</html>